html, body { padding:0px; margin:0px; background-color:#fff; width:100%; height:100%; overflow:hidden; }

#header { position:absolute; top:0px; width:100%; height:35px; background-color:#2d2d2d; z-index:999; }
#header h1 { padding:7px 10px; margin:0; color:#fff; font-family:Calibri, Verdana; font-size:16px; font-weight:normal; float:left; }
#header .stats { color:#888; }

#search { display:inline; float:right; padding-right:10px; }
#search input { height:21px; }
#search input.searchfield { font-size:12px; color:#fff; margin:7px; border-width:0px; background-color:#888; padding:2px; }
#search input.button { cursor:pointer; font-size:10px; padding-top:0px; color:#888; margin-top:4px; border:1px solid #888; background-color:#2d2d2d; }

#controls ul { padding:0; margin:0; }
#controls li { display:inline; float:right; padding:7px 10px; font-family:Calibri, Verdana; font-size:16px; }
#controls li a { text-decoration:none; color:#888; }
#controls li a:hover { color:#888; }
#controls li a:visited { color:#888; }

.pelagios-tooltip {
	padding:3px 8px;
	border:1px solid black;
	font-family:Calibri, Verdana;
	font-size:14px;
	background-color:#fff;
	z-index:1000;
}

.ajax-loader {
	position:absolute;
	top:0px;
	right:0px;
	padding:55px 20px;
	z-index:1000;
}

#graph-canvas { width:100%; height:100%; padding:0; margin:0; position:absolute; top:0px; }

#dialog { width:640px; height:480px; }

#map-panel { width:100%; height:100%; padding:0px; margin:0px; }

#personal-graph {
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	opacity:0;
	background-color:#fff;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;	
	transition: opacity .5s ease-in-out;
	z-index:998;
}

#back-button { 
	position:absolute;
	top:0px;
	margin:0px;
	padding:40px 15px;
	font-family:Calibri, Verdana;
	font-weight:bold;
	color:#ccc;
	font-size:55px;
	cursor:pointer; 
}

