html, body {
	padding:0px;
	margin:0px;
	background-color:#fff;
	width:100%;
	height:100%;
	overflow:hidden;
}

#dataset-panel {
	clear:left;
	float:left;
	width:65%;
	height:100%;
	padding:0px;
	margin:0px;
	display:inline;
}

#map-panel {
	float:right;
	width:35%;
	height:100%;
	padding:0px;
	margin:0px;
	display:inline;
}