html, body {
	padding:0px;
	margin:0px;
	background-color:#fff;
	width:100%;
	height:100%;
	overflow:hidden;
}

#dataset-panel {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}

#drilldown-panel {
	position:relative;
	top:-100%;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	visibility:hidden;
	opacity:0;
	background-color:#fff;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;	
	transition: opacity .5s ease-in-out;
}

#map-panel {
	position:relative;
	top:-200%;
	float:right;
	width:45%;
	height:35%;
	padding:0px;
	margin:0px;
	border-left:1px solid black;
	border-bottom:1px solid black;
	visibility:hidden;
}